@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  overflow: overlay;
}

html, body, #__nuxt, .v-application__wrap {
  height: 100%;
}

body {
  background-color: #F1F1F1;
  font-size: 100%;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #35495d;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#logo {
  font-style: italic;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 15px;
}

.v-application {
  background-color: #F1F1F1 !important;

  .v-application__wrap {
    flex-flow: wrap;
  }
}

.layout {
  display: flex;
  flex-direction: row;

  .content-box-wrapper {
    margin-top: 30px;
    padding: 0 60px;
    width: calc(100vw - 300px);

    .content-box {
      box-shadow: #DDD 0px 2px 4px 0px;
      background-color: #FFF;
      border-radius: 15px;
      padding: 10px 25px 20px;
    }
  }
}
